:host {
  // background-color: #ad81b4;
  display: block;
  padding: .5rem;
}

.admin {
  border-radius: 1rem;

  background-color: white;
  // border-top: 1rem solid #57355c;
  // padding: .35rem;
}

.table-wrapper{
  background-color: #8f3b9c;
  padding: 0.25rem;
  border-radius: 6px;
  &>label{
    color:white;
    font-weight: 500;
    padding:.5rem;
    display:inline-block;
  }
  table{
    border-radius: 4px;
  }
}

.contenedor-datos{
  display: flex;
  &>div{
    flex-grow: 1;
  }
}

// .contenedor-acciones{
//   display:flex;
//   align-items: center;
//   width: 100%;
// }

.mat-cell span{
  display:inline-block;
  padding-left: 5px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border:1px solid #d3dbe1;

}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding:0rem !important;
  width: 150px !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
  padding:0;
}

th.mat-header-cell{
  text-align: center !important;
  background-color: #e3e9ee;
  font-weight: 700;

}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description .contenedor-datos{
  padding: 16px;
  padding-bottom: 0;

  label {
    display: block;
    font-weight: 600;
  }

  span {
    display: block;
    margin-bottom: .5rem;
  }
}

.contenedor-obs{
  padding: 16px;
  padding-top:0;

  label {
    display: block;
    font-weight: 600;
  }

  span {
    display: block;
    margin-bottom: .5rem;
  }
}

.contenedor-acciones{
  display:flex;
  flex-direction: column;

}

.contenedor-botones-acciones{
  display: flex;
  justify-content: center;
  align-items: center;

}
.example-element-description-attribution {
  opacity: 0.5;
}

::ng-deep{
  tr.mat-row{
    cursor: pointer;
  }

  th{
    width: 40px !important;
  }
  tr{

    td:nth-child(1){
      width: 40px !important;
    }
    td:nth-child(2){
      width: 40px !important;
    }
    td:nth-child(3){
      width: 40px !important;
    }
    td:nth-child(4){
      width: 40px !important;
    }
    td:nth-child(5){
      width: 40px !important;
    }
    td:nth-child(6){
      width: 40px !important;
    }
    td:nth-child(7){
      width: 40px !important;
    }
  }

}
