<h1 mat-dialog-title>Términos y condiciones</h1>
<div mat-dialog-content>
  <div >
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Le
        rogamos que lea estos términos y condiciones de servicio detenidamente, puesto que contienen información
        importante relativa a su funcionamiento y distribución. Incluyen varias limitaciones y exclusiones en el uso de
        este código.</span></p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">El
        acceso al código fuente es un prerrequisito para comenzar a estudiar y/o modificar el sistema, aunado a ello es
        necesario crear una conexión a una base de datos no relacional para poder utilizar algunas de las
        funcionalidades
        implementadas.</span></p>

    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Los
        desarrolladores de este código garantizan a todos los mismos derechos sobre sus programas; Si desea conocer más
        a
        fondo nuestro proyecto o está interesado en implmentar esta solución para alguna necesidad, <a
          href="/">contáctenos</a>
      </span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Cualquier
        usuario puede y tiene la libertad de ejecutar el programa como lo desee, con cualquier propósito. La libertad de
        estudiar el funcionamiento del programa y modificarlo de modo que realice las tareas como usted desee (el acceso
        al código fuente es un prerrequisito para esto). La libertad de redistribuir copias para ayudar a los demás. La
        libertad de distribuir copias de sus versiones modificadas a otras personas. Al hacerlo da a toda la comunidad
        la
        oportunidad de beneficiarse de sus cambios (el acceso al código fuente es un prerrequisito para esto).
      </span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:italic;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Última
        actualización:
      </span>
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:italic;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">01
        de Diciembre de 2019
      </span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">INTRODUCCIÓN&nbsp;
      </span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Al
        instalar el código en su máquina local es responsabilidad del usuario el uso que le brinde a este contenido ya
        que
        al ser código libre TJ BUSINESS GROUP se deslinda completamente del mal uso que le den a este código. De igual
        manera, la información recabada en este sistema (una vez creada una conexión la base de datos) es
        responsabilidad
        del usuario o miembro que utilice este código.&nbsp;</span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Le
        rogamos, asimismo, que lea con atención nuestra política de privacidad y de cookies que aparece en el sitio
        web.&nbsp;</span></p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">DESCRIPCIÓN
        DEL CONTENIDO&nbsp;</span></p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">El
        código contenido en este sitio fue pensando para implementar una plataforma para supervisión de obras en
        contrucción y/o planificación&nbsp;</span><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">que
        requieren información externa para generar reportes de estadísticas o reportes informativos.</span><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;La
        finalidad de
        distribuir este código es para conocer más a fondo cómo interactúa la API de Google con Angular ya que hoy por
        hoy
        es imprescindible el rastreo de información. Nuestro equipo de desarrollo basa sus soluciones en la innovación
        de
        sistemas con el uso de las tecnologías
        más actuales. De esta manera fomentamos el uso de nuevas tecnologías para soluciones complejas en nuestra vida
        cotidiana.</span></p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">En
        el sitio web también podrán encontrar imágenes, fotografías, archivos de audio y video que fueron tomadas de la
        red para ejemplo únicamente.</span></p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">COOKIES
      </span>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Una
        cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su
        ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al
        tráfico
        web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con
        ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su
        web.
      </span><br /><br />
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Nuestro
        sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta
        información es empleada únicamente para análisis estadístico y después la información se elimina de forma
        permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies
        ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni
        de
        usted, a menos de que usted así lo quiera y la proporcione directamente, visitas a una web . Usted puede aceptar
        o
        negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para
        tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las
        cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
      </span>
    </p><br />
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;">
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ENLACES
        A TERCEROS
      </span><br /><br />
      <span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Este
        sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en
        estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo
        tanto
        no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios
        terceros.
        Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte
        para confirmar que usted está de acuerdo con estas.
      </span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ACCESO
        AL SERVICIO</span></p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">El
        acceso al servicio no tiene cargo alguno para cualquier miembro o visitante con acceso a Internet. Cualquier
        costo relacionado con el acceso al servicio, ya sean costos de hardware, software o acceso a Internet, es
        únicamente responsabilidad de los miembros o visitantes. Los miembros o visitantes son los únicos
        responsables del funcionamiento adecuado de su equipo informático, así como de su acceso a
        Internet.&nbsp;</span></p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Podemos
        eliminar o modificar cualquier contenido alojado en cualquier momento, con o sin causa, con o sin previo aviso.
        Las solicitudes de eliminación o modificación del contenido se realizarán solo a nuestro criterio. Podemos
        cancelar su acceso a todo o parte del código en cualquier momento, con o sin causa, con o sin previo
        aviso.</span>
    </p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">CÓMO
        CONTACTARNOS&nbsp;</span></p><br />
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tenemos
        una política y un procedimiento para presentar dudas o preguntas sobre el contenido publicado por nuestros
        miembros.</span></p>
    <p>
      <br>
    </p>
    <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Si
        usted tiene una duda o pregunta en relación con el contenido publicado por nuestros desarrolladores, deberá
        enviar
        un correo
        a la dirección&nbsp;</span><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:#ffff00;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">soporte@tjbusinessgroup.com.mx</span><span
        style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">,
        identificando perfectamente el contenido, motivo de la pregunta y las razones de la misma, así como en su caso
        la sugerencia o petición que se tenga al respecto. Dentro de un plazo de 15 (quince) días hábiles TJ BUSINESS
        GROUP
        le dará respuesta a la duda que usted haya enviado, o bien, le requerirá datos o información adicionales
        para poder atenderla dentro del mismo plazo antes mencionado, una vez que se presente la información o datos
        adicionales requeridos.&nbsp;</span></p>
    <p>
      <br>
    </p>
    <p>
      <br>
    </p>
  </div>


</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</div>
